<app-header></app-header>

<div class="container mt-5 mb-5">
    <section class="mb-4">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Contact Us</h2>
        <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within a matter of hours to help you.</p>

        <div class="row">
            <div class="col-md-8 mb-md-0 mb-5">
                <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Your Name</label>
                        <input type="text" id="name" name="name" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Your Email</label>
                        <input type="email" id="email" name="email" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="subject" class="form-label">Subject</label>
                        <input type="text" id="subject" name="subject" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="message" class="form-label">Your Message</label>
                        <textarea id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                    </div>

                    <div class="text-center text-md-left">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
                <div class="status"></div>
            </div>

            <div class="col-md-4 text-center">
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>Kochi, CA 94126, INDIA</p>
                    </li>

                    <li><i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>+ 01 234 567 89</p>
                    </li>

                    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p>contact@eshopping.com</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
